# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [159]:
#import all libraries

from bs4 import BeautifulSoup
import requests
import selenium
import pandas as pd
from selenium import webdriver
import time
pd.set_option('display.max_columns', None)

In [2]:
#connect to the web driver
driver=webdriver.Chrome(r"C:\Users\Acer\Desktop\Internship 11 - Project 1 - Avinash Carneiro\chromedriver.exe")

#Specifying the url of the webpage
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

#Lets open the webpage through our web driver
driver.get(url)

#Lets create 4 empty lists
Jobs_Title=[]
Job_Location=[]
Company_Name=[]
Experience_Required=[]


#Jobs_Title of first 10 jobs data on the website
for i in range(0, 1):
    for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
        Jobs_Title.append(i.text)

#Job_Location of first 10 jobs data on the website
    for j in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']"):
        Job_Location.append(j.text)

#Company_Name of first 10 jobs data on the website
    for k in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
        Company_Name.append(k.text)

#Experience_Required of first 10 jobs data on the website
    for l in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']"):
        Experience_Required.append(l.text)
        
#Jobs_Title of first 10 jobs       
Jobs_Title=Jobs_Title[0:10]
print('Job_Titles :', Jobs_Title)
print("\n")

#Job_Location of first 10 jobs
Job_Location=Job_Location[0:10]
print('Job_Location :', Job_Location)
print("\n")

#Company_Name of first 10 jobs
Company_Name=Company_Name[0:10]
print('Company_Name :', Company_Name)
print("\n")

#Experience_Required of first 10 jobs
Experience_Required=Experience_Required[0:10]
print('Experience_Required :', Experience_Required)
print("\n")

#Length of the lists
print('Lenght of Jobs_Title :', len(Jobs_Title)), print('Lenght of Job_Location :', len(Job_Location)),
print('Lenght of Company_Name :', len(Company_Name)), print('Lenght of Experience_Required :', len(Experience_Required))

import pandas as pd
Data_Analyst=pd.DataFrame({})

#Creating dataFrame to save the scraped data of Analyst jobs (job-title, job-location, company_name, experience_required)
Data_Analyst['Job Title']=Jobs_Title
Data_Analyst['Job Location']=Job_Location
Data_Analyst['Company Name']=Company_Name
Data_Analyst['Experience Required']=Experience_Required
print("\n")

print('The DataFrame for First 10 Data_Analyst Jobs on https://www.naukri.com/ is :')
Data_Analyst

Job_Titles : ['Business Analyst/ Data Analyst/ MIS Executive (On Contract)', 'Data Scientist/Data Analyst-immediate', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - O2C - Bangalore', 'Business Data Analyst - Database Design/Mining', 'Data Analyst - MySQL/PostgreSQL']


Job_Location : ['Bengaluru / Bangalore', 'Chennai, Pune, Bengaluru, Hyderabad', 'Bengaluru', 'Mumbai, Bengaluru, Hyderabad', 'Bengaluru', 'Bengaluru, Kolkata', 'Bengaluru', 'Bengaluru', 'Bengaluru', 'Pune, Mumbai, Bengaluru, Hyderabad, Noida, Jaipur']


Company_Name : ['Schneider Electric', 'CAIA-Center For Artificial Intelligence & Advanced Analytics', 'Applied Materials', 'Cognizant Technology Solutions India Pvt Ltd', 'GlaxoSmithKline Pharmaceuticals Limited', 'Cognizant Technology Solutions India Pvt Ltd', 'Shell India Markets Private Limited', 'RANDSTAD INDIA PVT LTD', 'AugmatrixGo', 'Astegic']


Experience_Required : ['2-5 Yrs', '0-3 Yrs', '6-11 Yrs', '2-3 Yrs', '2-7 Yrs', '3-4 Yrs', '5-8 Yrs', '2-4 Yrs', '2-5 Yrs', '5-10 Yrs']


Lenght of Jobs_Title : 10
Lenght of Job_Location : 10
Lenght of Company_Name : 10
Lenght of Experience_Required : 10


The DataFrame for First 10 Data_Analyst Jobs on https://www.naukri.com/ is :

,Job Title,Job Location,Company Name,Experience Required
0,Business Analyst/ Data Analyst/ MIS Executive ...,Bengaluru / Bangalore,Schneider Electric,2-5 Yrs
1,Data Scientist/Data Analyst-immediate,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs
2,Data Analyst,Bengaluru,Applied Materials,6-11 Yrs
3,Data Analyst,"Mumbai, Bengaluru, Hyderabad",Cognizant Technology Solutions India Pvt Ltd,2-3 Yrs
4,Data Analyst,Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,2-7 Yrs
5,Data Analyst,"Bengaluru, Kolkata",Cognizant Technology Solutions India Pvt Ltd,3-4 Yrs
6,Data Analyst,Bengaluru,Shell India Markets Private Limited,5-8 Yrs
7,Data Analyst - O2C - Bangalore,Bengaluru,RANDSTAD INDIA PVT LTD,2-4 Yrs
8,Business Data Analyst - Database Design/Mining,Bengaluru,AugmatrixGo,2-5 Yrs
9,Data Analyst - MySQL/PostgreSQL,"Pune, Mumbai, Bengaluru, Hyderabad, Noida, Jaipur",Astegic,5-10 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [1]:
#import all libraries

from bs4 import BeautifulSoup
import requests
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
#connect to the web driver
driver=webdriver.Chrome(r"C:\Users\Acer\Desktop\Internship 11 - Project 1 - Avinash Carneiro\chromedriver.exe")

#Specifying the url of the webpage
url="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"

#Lets open the webpage through our web driver
driver.get(url)

#Lets create 4 empty lists
Jobs_Title=[]
Job_Location=[]
Company_Name=[]
Job_Description=[]


#Jobs_Title of first 10 jobs data on the website
for i in range(0, 1):
    for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
        Jobs_Title.append(i.text)

#Job_Location of first 10 jobs data on the website
    for j in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']"):
        Job_Location.append(j.text)

#Company_Name of first 10 jobs data on the website
    for k in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
        Company_Name.append(k.text)

        
        
#Job Description of first 10 jobs data on the website

#connect to the web driver
driver=webdriver.Chrome(r"C:\Users\Acer\Desktop\Internship 11 - Project 1 - Avinash Carneiro\chromedriver.exe")

#Specifying the url of the webpage
url1="https://www.naukri.com/job-listings-data-scientist-data-analyst-immediate-caia-center-for-artificial-intelligence-advanced-analytics-chennai-pune-bengaluru-bangalore-hyderabad-secunderabad-0-to-3-years-210920000599?src=jobsearchDesk&sid=1611173670729703&xp=1&px=1"
#Lets open the webpage through our web driver
driver.get(url1)
Job_Description1=[]
#Job Description of the data on the website
for i in range(0, 1):
    for i in driver.find_elements_by_xpath("//div[@class='dang-inner-html']"):
        Job_Description1.append(i.text.replace('\r\n','').replace('\n',''))


#Specifying the url of the webpage
url2="https://www.naukri.com/job-listings-hcl-hiring-data-scientist-with-exp-in-machine-learning-sql-bangalore-hcl-technologies-limited-bengaluru-bangalore-5-to-10-years-190121001223?src=jobsearchDesk&sid=1611173670729703&xp=2&px=1"
#Lets open the webpage through our web driver
driver.get(url2)
Job_Description2=[]
#Job Description of the data on the website
for i in range(0, 1):
    for i in driver.find_elements_by_xpath("//div[@class='dang-inner-html']"):
        Job_Description2.append(i.text.replace('\r\n','').replace('\n',''))

        
#Specifying the url of the webpage
url3="https://www.naukri.com/job-listings-data-scientist-machine-learning-augmatrixgo-bengaluru-bangalore-2-to-5-years-140121905423?src=jobsearchDesk&sid=1611173670729703&xp=3&px=1"
#Lets open the webpage through our web driver
driver.get(url3)
Job_Description3=[]
#Job Description of the data on the website
for i in range(0, 1):
    for i in driver.find_elements_by_xpath("//div[@class='dang-inner-html']"):
        Job_Description3.append(i.text.replace('\r\n','').replace('\n',''))
        
        
#Specifying the url of the webpage
url4="https://www.naukri.com/job-listings-data-scientist-machine-learning-blue-yonder-india-private-limited-bengaluru-bangalore-5-to-8-years-130121902169?src=jobsearchDesk&sid=1611173670729703&xp=4&px=1"
#Lets open the webpage through our web driver
driver.get(url4)
Job_Description4=[]
#Job Description of the data on the website
for i in range(0, 1):
    for i in driver.find_elements_by_xpath("//div[@class='clearboth description']"):
        Job_Description4.append(i.text.replace('\r\n','').replace('\n',''))

        
#Specifying the url of the webpage
url5="https://www.naukri.com/job-listings-data-scientist-machine-learning-blue-yonder-india-private-limited-bengaluru-bangalore-3-to-5-years-130121902167?src=jobsearchDesk&sid=1611173670729703&xp=5&px=1"
#Lets open the webpage through our web driver
driver.get(url5)
Job_Description5=[]
#Job Description of the data on the website
for i in range(0, 1):
    for i in driver.find_elements_by_xpath("//div[@class='clearboth description']"):
        Job_Description5.append(i.text.replace('\r\n','').replace('\n',''))

        
#Specifying the url of the webpage
url6="https://www.naukri.com/job-listings-senior-associate-data-scientist-ml-engineer-pricewaterhouse-coopers-private-limited-bengaluru-bangalore-3-to-8-years-080121501399?src=jobsearchDesk&sid=1611173670729703&xp=6&px=1"
#Lets open the webpage through our web driver
driver.get(url6)
Job_Description6=[]
#Job Description of the data on the website
for i in range(0, 1):
    for i in driver.find_elements_by_xpath("//div[@class='dang-inner-html']"):
        Job_Description6.append(i.text.replace('\r\n','').replace('\n',''))

        
#Specifying the url of the webpage
url7="https://www.naukri.com/job-listings-senior-data-scientist-philips-india-limited-bengaluru-bangalore-8-to-12-years-110121501358?src=jobsearchDesk&sid=1611173670729703&xp=7&px=1"
#Lets open the webpage through our web driver
driver.get(url7)
Job_Description7=[]
#Job Description of the data on the website
for i in range(0, 1):
    for i in driver.find_elements_by_xpath("//div[@class='dang-inner-html']"):
        Job_Description7.append(i.text.replace('\r\n','').replace('\n',''))       
        

#Specifying the url of the webpage
url8="https://www.naukri.com/job-listings-data-scientist-machine-learning-remote-working-doji-ltd-delhi-ncr-bengaluru-bangalore-anywhere-in-india-2-to-5-years-171220006270?src=jobsearchDesk&sid=1611173670729703&xp=8&px=1"
#Lets open the webpage through our web driver
driver.get(url8)
Job_Description8=[]
#Job Description of the data on the website
for i in range(0, 1):
    for i in driver.find_elements_by_xpath("//div[@class='dang-inner-html']"):
        Job_Description8.append(i.text.replace('\r\n','').replace('\n',''))
        

#Specifying the url of the webpage
url9="https://www.naukri.com/job-listings-software-developer-data-scientist-nlp-machine-learning-cunesoft-india-private-limited-bengaluru-bangalore-3-to-6-years-190121001281?src=jobsearchDesk&sid=1611173670729703&xp=9&px=1"
#Lets open the webpage through our web driver
driver.get(url9)
Job_Description9=[]
#Job Description of the data on the website
for i in range(0, 1):
    for i in driver.find_elements_by_xpath("//div[@class='dang-inner-html']"):
        Job_Description9.append(i.text.replace('\r\n','').replace('\n',''))
        
        
#Specifying the url of the webpage
url10="https://www.naukri.com/job-listings-sr-data-scientist-netapp-india-private-limited-bengaluru-bangalore-10-to-15-years-080121903902?src=jobsearchDesk&sid=1611173670729703&xp=10&px=1"
#Lets open the webpage through our web driver
driver.get(url10)
Job_Description10=[]
#Job Description of the data on the website
for i in range(0, 1):
    for i in driver.find_elements_by_xpath("//div[@class='f14 lh18 alignJ disc-li']"):
        Job_Description10.append(i.text.replace('\r\n','').replace('\n',''))
        
#Adding all the Job_Descriptions of the mentoined jobs
Job_Description=(Job_Description1 + Job_Description2 + Job_Description3 + Job_Description4 + Job_Description5 + Job_Description6 + Job_Description7 + Job_Description8 + Job_Description9 + Job_Description10)

        
#Jobs_Title of first 10 jobs       
Jobs_Title=Jobs_Title[0:10]
print('Job_Titles :', Jobs_Title)
print("\n")

#Job_Location of first 10 jobs
Job_Location=Job_Location[0:10]
print('Job_Location :', Job_Location)
print("\n")

#Company_Name of first 10 jobs
Company_Name=Company_Name[0:10]
print('Company_Name :', Company_Name)
print("\n")

#Job_Description of first 10 jobs
Job_Description=Job_Description[0:10]
print('Job_Description :', Job_Description[0:3])
print("\n")

#Length of the lists
print('Lenght of Jobs_Title :', len(Jobs_Title)), print('Lenght of Job_Location :', len(Job_Location)),
print('Lenght of Company_Name :', len(Company_Name)), print('Lenght of Job_Description :', len(Job_Description))

import pandas as pd
Data_Scientist=pd.DataFrame({})

#Creating dataFrame to save the scraped data of Analyst jobs (job-title, job-location, company_name, Job_Description)
Data_Scientist['Job Title']=Jobs_Title
Data_Scientist['Job Location']=Job_Location
Data_Scientist['Company Name']=Company_Name
Data_Scientist['Job Description']=Job_Description
print("\n")

print('The DataFrame for First 10 Data_Scientist Jobs on https://www.naukri.com/ is :')
Data_Scientist

Job_Titles : ['Data Scientist/Data Analyst-immediate', 'HCL hiring Data scientist with exp in machine learning &SQL-Bangalore!', 'Data Scientist - Machine Learning', 'Data Scientist - Machine Learning', 'Data Scientist - Machine Learning', 'Senior Associate - Data Scientist/ML Engineer', 'Senior Data Scientist', 'Data Scientist - Machine Learning - Remote Working', 'Software Developer - Data Scientist / NLP / Machine Learning', 'Sr. Data Scientist']


Job_Location : ['Chennai, Pune, Bengaluru, Hyderabad', 'Bengaluru', 'Bengaluru', 'Bengaluru', 'Bengaluru', 'Bengaluru', 'Bengaluru', 'Delhi NCR, Bengaluru, Anywhere in India', 'Bengaluru / Bangalore', 'Bengaluru']


Company_Name : ['CAIA-Center For Artificial Intelligence & Advanced Analytics', 'HCL Technologies Limited', 'AugmatrixGo', 'BLUE YONDER INDIA PRIVATE LIMITED', 'BLUE YONDER INDIA PRIVATE LIMITED', 'Pricewaterhouse Coopers Private Limited', 'Philips India Limited', 'Doji Ltd', 'Cunesoft India Private Limited', 'NetApp']


Job_Description : ['Dear CandidateSchedule a Telephonic Interview ( Please call for confirmation) : Mon- Sat from 11:00am to 5:00pmOR Walk-In to the Corporate office between Monday to Friday from 11:00am to 5:00pmContact person :Manigandan -+91 7299917200Shantha +91 9790993237Systech SolutionsTemple StepsTower 3, 6th Floor184-187 Anna SalaiSaidapet, Chennai 600015India (Near Little Mount Metro Station)Roles and ResponsibilitiesGreetings from CAIA !A great opportunity to enter the world of future technologies - Data Science, Analytics, AI, Data VisualizationApplications invited from all Freshers and experienced candidates aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.In case you are trying to shift your career to Analytics and/or AI domain please do connect with us to know more.What is needed from you?- An Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA- Skills relating to Mathematics/Statistics.- Natural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization- Good verbal and written communication skills- Ability to understand domains in businesses across various sectors- Freshers who wish to start their career in Analytics and AI and professionals who wish to up skill or change their domain to analytics and emerging technologies are free to apply.Selection procedure includes- Online Aptitude Test- Logical Ability Test / Written TestOn being shortlisted, you will be have to undergo a one-one discussion with our counsellor for further evaluation and processing of your Resume.What you can expect from us?You will get trained on the following modules for a period of 12-14 weeks:-SQL & PLSQL-Data Wrangling using Python-Statistics for Machine Learning,-Artificial Intelligence, Data Interpretation-Supervised & Unsupervised Learning,-NLP & Deep Learning-Cloud Data Lake-Business intelligence & Data Visualization-Simulation ProjectsWhat is the expected Outcome?At the end of the Training you are expected to be well versed with the following:- Analysis of large and complex data sets from multiple sources- Development and evaluation of data analytics models, algorithms and solutions- Understanding/implementation of ML algorithms, performance tuning and reporting- Implementation of algorithms to mine targeted data and the ability to convert data into a business story- Translation of business requirements into technical requirements; Data extraction, preparation and transformation- Identification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organisation- Requirement Analysis and communication of findings in the form of a meaningful story with the stakeholdersCenter for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics2. Advanced Training programs for readying the future ready workforce3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science.http://www.centerforaia.com/Center for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay. Digital leaders 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advanced Analytics solutions for Fortune 500 companies through specialized programmed.5F World5F World is a leader in digital transformational journeys and has brought together the best minds in industry, academia and technology domains to develop a unique framework to transform stakeholder journeys through innovation and digitalization of businesses and education institutions.Systech SolutionsSystech Solutions is a leading organisation in Data Strategy, Management & Analytics services provider with deep technology expertise and over 20 years of industry experience. Systech Solutions helps empower clients with innovative, data-driven solutions to reimagine their enterprise and has forged partnerships with industry-leading technology providers to develop a full spectrum of data services.Websitehttp://www.centerforaia.com/https://inflexion-analytix-private-limited.business.site/?m=trueContact PersonShantha/ManigandanPhone Number9790993237 / 7299917200Emailmanigandan@centerforaia.comDesired Candidate ProfilePerks and Benefits', "Dear Candidate,Greetings from HCL!!!We are looking for Data scientists with experience in machine learning algorithms and strong SQL experience.If you are Keen with Below Skill Set. Please do send the Updated CV with details such as current ctc, expected ctc and notice period to m_divvya@hcl.com / 8754448290.We are looking only for immediate joiners. Candidates with more than 30 days notice please don't apply.Technical Skills:Overall 5+ years of experience in advanced analytics and leading/mentoring team membersProficient in Python & SQL with minimum 2-3 years of hands on experienceSolid fundamentals, knowledge of supervised, unsupervised, reinforcement learning machine learning and deep learning algorithms, such as classifiers, cluster analysis, dimension reduction, regression, CNN, RNN, DQN, temporal difference methods, sequence modeling, probability theory, algorithm design and theory of computation, information retrievalAbility to work and execute projects on both structured and unstructured data in a big data environment • Strong at preparing data for analysis using SQL and experience working with the industry leading BI tools like Tableau, visualizing the data and executing to specificationsExperience of end to end implementation of predictive analytics projects for at least 1-3 years • Exposure to text analytics, web scraping, big data technologies and graph databases would be desirable • Exposure to visualization tools • Experience of intent to learn software domain related to VMware products and the way virtualization software/hardwarePreferred Skills:Good understanding of API connections and data pipelining • Knowledge with Natural Language Processing (e.g. word2vec, doc2vec, attention, LDA) • Understanding of different model performance metrics and hyperparameter optimization • Business Acumen, ability to translate business needs into a set of workable, specific requirements • Well versed with MS PowerPoint/VisioAbility to understand business requirements, KPIs and convert into analytical hypothesis in a structured and logical manner along with solution identification • Ability to handle multiple projects at a time in terms of multitasking, prioritization, allocation and team management • Ability to coordinate and work within multiple business units from project management perspective • Ability to work across geographies and interact with global stakeholders • Prior experience working in Agile methodologies/JIRA would be a plusWhat we are looking for:BS/BE in Computer Sciences, Math, Statistics or related field. Masters preferred.Proficient in SQL and experience with efficient processing of large data sets. Ability to write sophisticated and optimized queries against large databases • Proficient in data visualization tools such as Mode Analytics or Tableau • Proficient in Excel • Experience in statistical computing with Python/R • Ability to handle several concurrent activities with strong organizational skills and attention to detail We're team players. You'll do well if you're one too", 'Roles and Responsibilities- Selecting features, building and optimizing classifiers using machine learning techniques- Data mining using state-of-the-art methods- Enhancing data collection procedures to include information that is relevant for building analytic systems- Processing, cleansing, and verifying the integrity of data used for analysis- Doing ad-hoc analysis and presenting results in a clear manner- Creating automated anomaly detection systems and constant tracking of its performanceSkills Required :- Excellent understanding of machine learning techniques and algorithms, such as k-NN, Naive Bayes, SVM, Decision Forests, etc.- Experiences with one or more of the following is highly desirable: HPC/Parallelization, operationalizing ML models; cloud computing (e.g. Google Cloud, AWS, etc.); familiarity with ML frameworks such as Tensorflow, Theano, MXNet, etc- Good experience in a few of the following areas: deep neural networks, reinforcement learning, Markov Random Fields, Bayesian networks, semi-supervised learning, computer vision, image processing, signal processing, distributed computing, and/or numerical optimization- 2+ years of experience with computer vision and deep learning solutions, including image classification, object detection, segmentation, and equivalent computer vision-based vision tasks- Experience with common data science toolkits, such as R, Weka, NumPy, etc . Excellence in at least one of these is highly desirable- Proficiency in using query languages such as SQL, Hive, Pig- Good applied statistics skills, such as distributions, statistical testing, regression, etc.- Good scripting and programming skills- Data-oriented personality- B.Tech/M.Tech degree in from reputed institutes like IIT / NIT / BITS']


Lenght of Jobs_Title : 10
Lenght of Job_Location : 10
Lenght of Company_Name : 10
Lenght of Job_Description : 10

The DataFrame for First 10 Data_Scientist Jobs on https://www.naukri.com/ is :

,Job Title,Job Location,Company Name,Job Description
0,Data Scientist/Data Analyst-immediate,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,Dear CandidateSchedule a Telephonic Interview ...
1,HCL hiring Data scientist with exp in machine ...,Bengaluru,HCL Technologies Limited,"Dear Candidate,Greetings from HCL!!!We are loo..."
2,Data Scientist - Machine Learning,Bengaluru,AugmatrixGo,Roles and Responsibilities- Selecting features...
3,Data Scientist - Machine Learning,Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED,"Roles and ResponsibilitiesUnder guidance, or i..."
4,Data Scientist - Machine Learning,Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED,Roles and ResponsibilitiesThe Yantriks Data Sc...
5,Senior Associate - Data Scientist/ML Engineer,Bengaluru,Pricewaterhouse Coopers Private Limited,Day-to-Day ResponsibilitiesDesign and develop ...
6,Senior Data Scientist,Bengaluru,Philips India Limited,"Job DescriptionAt Philips, data is in the cent..."
7,Data Scientist - Machine Learning - Remote Wor...,"Delhi NCR, Bengaluru, Anywhere in India",Doji Ltd,Please note that this role will be Remote / Ho...
8,Software Developer - Data Scientist / NLP / Ma...,Bengaluru / Bangalore,Cunesoft India Private Limited,Roles and ResponsibilitiesWe are looking for a...
9,Sr. Data Scientist,Bengaluru,NetApp,Job SummaryThis Cloud Business Operations Data...

# Q3: Scraping data using the filters available on the webpage https://www.naukri.com/ as shown & scraping the job-title, job-location, company_name, experience_required.

In [3]:
#import all libraries

from bs4 import BeautifulSoup
import requests
import selenium
import pandas as pd
from selenium import webdriver

In [6]:
#connect to the web driver
driver=webdriver.Chrome(r"C:\Users\Acer\Desktop\Internship 11 - Project 1 - Avinash Carneiro\chromedriver.exe")

#Specifying the url of the webpage
url="https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityType=25.9.31&ctcFilter=3to6"

#Lets open the webpage through our web driver
driver.get(url)

#Lets create 4 empty lists
Jobs_Title=[]
Job_Location=[]
Company_Name=[]
Experience_Required=[]


#Jobs_Title of first 10 jobs data on the website
for i in range(0, 1):
    for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
        Jobs_Title.append(i.text)

#Job_Location of first 10 jobs data on the website
    for j in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']"):
        Job_Location.append(j.text)

#Company_Name of first 10 jobs data on the website
    for k in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
        Company_Name.append(k.text)

#Experience_Required of first 10 jobs data on the website
    for l in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']"):
        Experience_Required.append(l.text)
        
#Jobs_Title of first 10 jobs       
Jobs_Title=Jobs_Title[0:10]
print('Job_Titles :', Jobs_Title)
print("\n")

#Job_Location of first 10 jobs
Job_Location=Job_Location[0:10]
print('Job_Location :', Job_Location)
print("\n")

#Company_Name of first 10 jobs
Company_Name=Company_Name[0:10]
print('Company_Name :', Company_Name)
print("\n")

#Experience_Required of first 10 jobs
Experience_Required=Experience_Required[0:10]
print('Experience_Required :', Experience_Required)
print("\n")

#Length of the lists
print('Lenght of Jobs_Title :', len(Jobs_Title)), print('Lenght of Job_Location :', len(Job_Location)),
print('Lenght of Company_Name :', len(Company_Name)), print('Lenght of Experience_Required :', len(Experience_Required))

import pandas as pd
Data_Scientists=pd.DataFrame({})

#Creating dataFrame to save the scraped data of Analyst jobs (job-title, job-location, company_name, experience_required)
Data_Scientists['Job Title']=Jobs_Title
Data_Scientists['Job Location']=Job_Location
Data_Scientists['Company Name']=Company_Name
Data_Scientists['Experience Required']=Experience_Required
print("\n")

print('The DataFrame for First 10 Data_Scientists Jobs on https://www.naukri.com/ with the "location filter - “Delhi/NCRis & salary filter - “3-6” lakhs is:')
Data_Scientists

Job_Titles : ['Data Scientist - Python/Machine Learning', 'Tech Mahindra hiring For Data Scientist- Noida', 'Data Scientist - Commercial Planning and Analysis', 'Data Scientist', 'Data Scientist - Machine Learning/ Artificial Intelligence - IT', 'GCP Skilled Analytics Resources (Data engineer / Data scientists)', 'Data Scientist', 'Data Scientist Machine Learning', 'Data Scientist', 'Business Analyst - Data Scientist']


Job_Location : ['Noida', 'Noida', 'Delhi NCR, Gurgaon', 'Faridabad, Delhi NCR, Ghaziabad', 'Delhi/NCR Delhi NCR, Noida', 'Pune, Bengaluru, Gurgaon', 'Gurgaon Gurugram', 'Gurgaon', 'Delhi NCR', 'Gurgaon']


Company_Name : ['Jubna', 'tech mahindra ltd', 'Air Asia India Limited', 'Amity University', 'Talent Acceleration Corridor', 'Aerial Telecom Solutions Pvt. Ltd.', 'IBM India Pvt. Limited', 'Delhivery', 'Eighteen Pixels India Private Limited', 'HyreFox Consultants Pvt Ltd']


Experience_Required : ['5-8 Yrs', '5-10 Yrs', '1-6 Yrs', '6-8 Yrs', '6-11 Yrs', '3-8 Yrs', '3-5 Yrs', '1-3 Yrs', '2-6 Yrs', '3-5 Yrs']


Lenght of Jobs_Title : 10
Lenght of Job_Location : 10
Lenght of Company_Name : 10
Lenght of Experience_Required : 10


The DataFrame for First 10 Data_Scientists Jobs on https://www.naukri.com/ with the "location filter - “Delhi/NCRis & salary filter - “3-6” lakhs is:

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist - Python/Machine Learning,Noida,Jubna,5-8 Yrs
1,Tech Mahindra hiring For Data Scientist- Noida,Noida,tech mahindra ltd,5-10 Yrs
2,Data Scientist - Commercial Planning and Analysis,"Delhi NCR, Gurgaon",Air Asia India Limited,1-6 Yrs
3,Data Scientist,"Faridabad, Delhi NCR, Ghaziabad",Amity University,6-8 Yrs
4,Data Scientist - Machine Learning/ Artificial ...,"Delhi/NCR Delhi NCR, Noida",Talent Acceleration Corridor,6-11 Yrs
5,GCP Skilled Analytics Resources (Data engineer...,"Pune, Bengaluru, Gurgaon",Aerial Telecom Solutions Pvt. Ltd.,3-8 Yrs
6,Data Scientist,Gurgaon Gurugram,IBM India Pvt. Limited,3-5 Yrs
7,Data Scientist Machine Learning,Gurgaon,Delhivery,1-3 Yrs
8,Data Scientist,Delhi NCR,Eighteen Pixels India Private Limited,2-6 Yrs
9,Business Analyst - Data Scientist,Gurgaon,HyreFox Consultants Pvt Ltd,3-5 Yrs

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [17]:
#import all libraries

from bs4 import BeautifulSoup
import requests
import selenium
import pandas as pd
from selenium import webdriver

In [16]:
#connect to the web driver
driver=webdriver.Chrome(r"C:\Users\Acer\Desktop\Internship 11 - Project 1 - Avinash Carneiro\chromedriver.exe")

#Specifying the url of the webpage
url="https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm"

#Lets open the webpage through our web driver
driver.get(url)

#Lets create 4 empty lists

Company_Name=[]
Jobs_Title=[]
Job_Posted=[]
Company_Rating=[]


#Jobs_Title of first 10 jobs data on the website
for i in range(0, 1):
    for i in driver.find_elements_by_xpath("//div[@class='jobHeader d-flex justify-content-between align-items-start']"):
        Company_Name.append(i.text)

#Jobs_Title of first 10 jobs data on the website
for i in range(0, 1):
    for j in driver.find_elements_by_xpath("//a[@class='jobInfoItem jobTitle css-13w0lq6 eigr9kq1 jobLink']"):
        Jobs_Title.append(j.text)

#Company_Name of first 10 jobs data on the website
    for k in driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']"):
        Job_Posted.append(k.text)

#Experience_Required of first 10 jobs data on the website
    for l in driver.find_elements_by_xpath("//span[@class='compactStars ']"):
        Company_Rating.append(l.text)
        
#Jobs_Title of first 10 jobs       
Company_Name=Company_Name[0:10]
print('Company_Name :', Company_Name)
print("\n")

#Job_Location of first 10 jobs
Jobs_Title=Jobs_Title[0:10]
print('Jobs_Title :', Jobs_Title)
print("\n")

#Company_Name of first 10 jobs
Job_Posted=Job_Posted[0:10]
print('Job_Posted :', Job_Posted)
print("\n")

#Experience_Required of first 10 jobs
Company_Rating=Company_Rating[0:10]
print('Company_Rating :', Company_Rating)
print("\n")

#Length of the lists
print('Lenght of Company_Name :', len(Company_Name)), print('Lenght of Jobs_Title :', len(Jobs_Title)),
print('Lenght of Job_Posted :', len(Job_Posted)), print('Lenght of Company_Rating :', len(Company_Rating))

import pandas as pd
Data_Scientist_Glassdoor=pd.DataFrame({})

#Creating dataFrame to save the scraped data of Data_Scientist_Glassdoor jobs.
Data_Scientist_Glassdoor['Company Name']=Company_Name
Data_Scientist_Glassdoor['Jobs Title']=Jobs_Title
Data_Scientist_Glassdoor['Job Posted']=Job_Posted
Data_Scientist_Glassdoor['Company Rating']=Company_Rating
print("\n")

print('The DataFrame for First 10 Data_Scientists Jobs on https://www.glassdoor.co.in/ is:')
Data_Scientist_Glassdoor

Company_Name : ['DcodeAI', 'QuantumIT', 'Salasar New Age Technologies', 'Biz2Credit Inc', 'Salasar New Age Technologies', 'Techlive', 'Emerging India Group', 'Dürr Somac GmbH', 'THSTI', 'adidas']


Jobs_Title : ['Artificial Intelligence Product Designer', 'Data science', 'Data Scientist Intern', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Machine Learning Engineer/ Data Scientist', 'Data Scientist', 'Jr Data Scientist']


Job_Posted : ['14d', '8d', '30d+', '30d+', '30d+', '30d+', '19d', '30d+', '15d', '5d']


Company_Rating : ['3.3', '3.7', '5', '3.9', '3.9', '3.6', '4.2', '3.8', '4.2', '3']


Lenght of Company_Name : 10
Lenght of Jobs_Title : 10
Lenght of Job_Posted : 10
Lenght of Company_Rating : 10


The DataFrame for First 10 Data_Scientists Jobs on https://www.glassdoor.co.in/ is:

,Company Name,Jobs Title,Job Posted,Company Rating
0,DcodeAI,Artificial Intelligence Product Designer,14d,3.3
1,QuantumIT,Data science,8d,3.7
2,Salasar New Age Technologies,Data Scientist Intern,30d+,5
3,Biz2Credit Inc,Data Scientist,30d+,3.9
4,Salasar New Age Technologies,Data Scientist,30d+,3.9
5,Techlive,Data Scientist,30d+,3.6
6,Emerging India Group,Data Scientist,19d,4.2
7,Dürr Somac GmbH,Machine Learning Engineer/ Data Scientist,30d+,3.8
8,THSTI,Data Scientist,15d,4.2
9,adidas,Jr Data Scientist,5d,3

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.

In [150]:
#import all libraries

from bs4 import BeautifulSoup
import requests
import selenium
import pandas as pd
from selenium import webdriver


#connect to the web driver
driver=webdriver.Chrome(r"C:\Users\Acer\Desktop\Internship 11 - Project 1 - Avinash Carneiro\chromedriver.exe")

#Specifying the url of the webpage
url="https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn"

#Lets open the webpage through our web driver
driver.get(url)

#Lets create 4 empty lists

Company_Name=[]
Number_of_salaries=[]
Average_Salary=[]
Salary=[]


#Jobs_Title of first 10 jobs data on the website
for i in range(0, 1):
    for i in driver.find_elements_by_xpath("//p[@class='m-0 ']"):
        Company_Name.append(i.text)

#Number_of_salaries of first 10 jobs data on the website
    for j in driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']"):
        Number_of_salaries.append(j.text.replace('\r\n','').replace('\n',''))

#Average_Salary of first 10 jobs data on the website
    for k in driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']"):
        Average_Salary.append(k.text.replace('\r\n','').replace('\n',''))
        

#Min_Salary & Max_Salary of first 10 jobs data on the website
Salary_Tags=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']")
for l in Salary_Tags:
    salary=l.text
    Salary.append(salary.split('\n'))
Salary[0:10]
        
#Jobs_Title of first 10 jobs       
Company_Name=Company_Name[0:10]
print('Company_Name :', Company_Name)
print("\n")

#Number_of_salaries of first 10 jobs
Number_of_salaries=Number_of_salaries[0:10]
print('Number_of_salaries :', Number_of_salaries)
print("\n")

#Average_Salary of first 10 jobs
Average_Salary=Average_Salary[0:10]
print('Average_Salary :', Average_Salary)
print("\n")

#Creating dataframe for Salary list
DF=pd.DataFrame({})
DF['Salary']=Salary
print(DF.head(10))
print("\n")

#Length of the lists
print('Lenght of Company_Name :', len(Company_Name)), print('Lenght of Number_of_salaries :', len(Number_of_salaries)),
print('Lenght of Average_Salary :', len(Average_Salary))


import pandas as pd
Glassdoor_Salary=pd.DataFrame({})

#Creating dataFrame to save the scraped data of Analyst jobs (job-title, job-location, company_name, experience_required)
Glassdoor_Salary['Company Name']=Company_Name
Glassdoor_Salary['Number of Salaries']=Number_of_salaries
Glassdoor_Salary['Average Salary']=Average_Salary
#Creating Columns for Minimum_Salary
Glassdoor_Salary['Min Salary']=DF['Salary'].str[:1]
Glassdoor_Salary['Min Salary'] = Glassdoor_Salary['Min Salary'].str.get(0)

#Creating Columns for Maximum_Salary
Glassdoor_Salary['Max Salary']=DF['Salary'].str[1:]
Glassdoor_Salary['Max Salary'] = Glassdoor_Salary['Max Salary'].str.get(0)
print("\n")


print('The DataFrame for First 10 Data_Scientists Glassdoor_Salary on https://www.glassdoor.co.in/ is:')
Glassdoor_Salary

Company_Name : ['Delhivery', 'Accenture', 'Ericsson-Worldwide', 'Tata Consultancy Services', 'IBM', 'UnitedHealth Group', 'Valiance Solutions', 'Innovaccer', 'Cognizant Technology Solutions', 'ZS Associates']


Number_of_salaries : ['13 salaries', '10 salaries', '10 salaries', '9 salaries', '9 salaries', '8 salaries', '8 salaries', '7 salaries', '6 salaries', '5 salaries']


Average_Salary : ['₹ 12,81,419/yr', '₹ 9,98,925/yr', '₹ 7,90,026/yr', '₹ 6,02,000/yr', '₹ 7,71,657/yr', '₹ 12,22,902/yr', '₹ 7,91,015/yr', '₹ 12,15,138/yr', '₹ 10,21,889/yr', '₹ 10,00,000/yr']


              Salary
0  [₹456K, ₹11,789K]
1   [₹585K, ₹2,200K]
2   [₹420K, ₹1,636K]
3   [₹336K, ₹1,024K]
4   [₹595K, ₹2,769K]
5   [₹727K, ₹1,597K]
6   [₹509K, ₹1,168K]
7   [₹629K, ₹1,719K]
8   [₹804K, ₹1,281K]
9   [₹205K, ₹1,835K]


Lenght of Company_Name : 10
Lenght of Number_of_salaries : 10
Lenght of Average_Salary : 10


The DataFrame for First 10 Data_Scientists Glassdoor_Salary on https://www.glassdoor.co.in/ is:

,Company Name,Number of Salaries,Average Salary,Min Salary,Max Salary
0,Delhivery,13 salaries,"₹ 12,81,419/yr",₹456K,"₹11,789K"
1,Accenture,10 salaries,"₹ 9,98,925/yr",₹585K,"₹2,200K"
2,Ericsson-Worldwide,10 salaries,"₹ 7,90,026/yr",₹420K,"₹1,636K"
3,Tata Consultancy Services,9 salaries,"₹ 6,02,000/yr",₹336K,"₹1,024K"
4,IBM,9 salaries,"₹ 7,71,657/yr",₹595K,"₹2,769K"
5,UnitedHealth Group,8 salaries,"₹ 12,22,902/yr",₹727K,"₹1,597K"
6,Valiance Solutions,8 salaries,"₹ 7,91,015/yr",₹509K,"₹1,168K"
7,Innovaccer,7 salaries,"₹ 12,15,138/yr",₹629K,"₹1,719K"
8,Cognizant Technology Solutions,6 salaries,"₹ 10,21,889/yr",₹804K,"₹1,281K"
9,ZS Associates,5 salaries,"₹ 10,00,000/yr",₹205K,"₹1,835K"

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount%

In [60]:
#import all libraries

from bs4 import BeautifulSoup
import requests
import selenium
import pandas as pd
from selenium import webdriver
import time

#connect to the web driver
driver=webdriver.Chrome(r"C:\Users\Acer\Desktop\Internship 11 - Project 1 - Avinash Carneiro\chromedriver.exe")

#Specifying the url of the webpage
url="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

#Lets open the webpage through our web driver
driver.get(url)

#Lets create 4 empty lists

Brand_Name=[]
Product_Description=[]
Price=[]
Discount=[]


#Brand_Name of the sunglasses
for i in range(0, 3):
    for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        Brand_Name.append(i.text)
        
#Product_Description of the sunglasses
    for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        if j is not None:
            Product_Description.append(j.text)
        else:
            Product_Description('_')

#Price of of the sunglasses
    for k in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        Price.append(k.text)

#Discount of of the sunglasses
    for k in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        Discount.append(k.text)
        
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(3)
        

#Brand_Name of first 10 jobs       
Brand_Name=Brand_Name[0:100]
Product_Description=Product_Description[0:100]
Price=Price[0:100]
Discount=Discount[0:100]


print('Brand_Name :', len(Brand_Name)), print('Product_Description :', len(Product_Description)),
print('Price :', len(Price)), print('Discount :', len(Discount))

#Creating dataFrame to save the scraped data of Flipkart_Review
import pandas as pd
Flipkart_Sunglass=pd.DataFrame({})
Flipkart_Sunglass['Brand Name']=Brand_Name
Flipkart_Sunglass['Price']=Price
Flipkart_Sunglass['Discount']=Discount
Flipkart_Sunglass['Product_Description']=Product_Description
print("\n")

print('The DataFrame for First 100 Sunglasses on https://www.flipkart.com/ is:')
Flipkart_Sunglass

Brand_Name : 100
Product_Description : 100
Price : 100
Discount : 100


The DataFrame for First 100 Sunglasses on https://www.flipkart.com/ is:

,Brand Name,Price,Discount,Product_Description
0,FDA COLLECTION,₹188,87% off,"Gradient, Mirrored, UV Protection Round, Round..."
1,FDA COLLECTION,₹251,83% off,"Gradient, UV Protection Round, Round, Round Su..."
2,FDA COLLECTION,₹199,84% off,"Gradient, Mirrored, UV Protection Round, Round..."
3,shah collections,₹219,78% off,"UV Protection, Polarized, Mirrored Rectangular..."
4,Phenomenal,₹399,80% off,"UV Protection, Mirrored Retro Square Sunglasse..."
...,...,...,...,...
95,Fastrack,₹645,19% off,"Night Vision, Polarized, UV Protection, Riding..."
96,FDA COLLECTION,₹188,87% off,"Polarized, Mirrored, UV Protection Retro Squar..."
97,ROZZETTA CRAFT,₹449,79% off,UV Protection Spectacle Sunglasses (Free Size)
98,Royal Son,₹279,78% off,"Gradient, UV Protection Wayfarer Sunglasses (F..."
99,STYLE GURU,₹799,77% off,UV Protection Aviator Sunglasses (Free Size)

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [20]:
#import all libraries

from bs4 import BeautifulSoup
import requests
import selenium
import pandas as pd
from selenium import webdriver
import time


#connect to the web driver
driver=webdriver.Chrome(r"C:\Users\Acer\Desktop\Internship 11 - Project 1 - Avinash Carneiro\chromedriver.exe")

#Specifying the url of the webpage
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART"

#Lets open the webpage through our web driver
driver.get(url)

#Lets create 4 empty lists
Rating = []
Review_Summary = []
Full_Review = []

#Rating of the product
for i in range(0, 10):
    for i in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Rating.append(i.text)
    for j in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_Summary.append(j.text)
    for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_Review.append(k.text)       
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
time.sleep(3)

    
print('Rating :', len(Rating)), print('Review_Summary :', len(Review_Summary)),
print('Full_Review :', len(Full_Review))


#Creating dataFrame to save the scraped data of Flipkart_Review
import pandas as pd
Flipkart_Review=pd.DataFrame({})
Flipkart_Review['Rating']=Rating
Flipkart_Review['Review Summary']=Review_Summary
Flipkart_Review['Full Review']=Full_Review
print("\n")

print('The DataFrame for First 100 Reviews on https://www.flipkart.com/ is:')
Flipkart_Review.head(10)

Rating : 100
Review_Summary : 100
Full_Review : 100


The DataFrame for First 100 Reviews on https://www.flipkart.com/ is:

,Rating,Review Summary,Full Review
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
3,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
4,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
5,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
6,5,Worth every penny,It’s been almost a month since I have been usi...
7,5,Wonderful,*Review after 10 months of usage*\nDoesn't see...
8,4,Nice product,Awesome Phone. Slightly high price but worth. ...
9,5,Perfect product!,Iphone is just awesome.. battery backup is ver...

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [127]:
#import all libraries

from bs4 import BeautifulSoup
import requests
import selenium
import pandas as pd
from selenium import webdriver
import time

Brand_Names1=[]
Product_Descriptions1=[]
Prices1=[]
Discounts1=[]
Brand_Names2=[]
Product_Descriptions2=[]
Prices2=[]
Discounts2=[]
Brand_Names3=[]
Product_Descriptions3=[]
Prices3=[]
Discounts3=[]

page1=requests.get("https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off")

soup1=BeautifulSoup(page.content, 'html.parser')

Brand_Name_Tags=soup1.find_all('div', class_='_2WkVRV')
Product_Tags=soup1.find_all('a', class_='IRpwTa')
Prices_Tags=soup1.find_all('div', class_='_30jeq3')
Discounts_Tags=soup1.find_all('div', class_='_3Ay6Sb')

for i in Brand_Name_Tags:
    if i is not None:
        Brand_Names1.append(i.get_text().replace("\n", ""))
    else:
        Brand_Names1.replace('Null')
Brand_Names1
for i in Product_Tags:
    Product_Descriptions1.append(i.get_text().replace("\n", ""))
Product_Descriptions1
for i in Prices_Tags:
    Prices1.append(i.get_text().replace("\n", ""))
Prices1=Prices1[0:40]
for i in Discounts_Tags:
    Discounts1.append(i.get_text().replace("\n", ""))
Discounts1=Discounts1[0:40]

#PAGE 2 
page2=requests.get("https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2")

soup2=BeautifulSoup(page2.content, 'html.parser')

Brand_Name_Tags=soup2.find_all('div', class_='_2WkVRV')
Product_Tags=soup2.find_all('a', class_='IRpwTa')
Prices_Tags=soup2.find_all('div', class_='_30jeq3')
Discounts_Tags=soup2.find_all('div', class_='_3Ay6Sb')

for i in Brand_Name_Tags:
    if i is not None:
        Brand_Names2.append(i.get_text().replace("\n", ""))
    else:
        Brand_Names2.replace('Null')
Brand_Names2
for i in Product_Tags:
    Product_Descriptions2.append(i.get_text().replace("\n", ""))
Product_Descriptions2
for i in Prices_Tags:
    Prices2.append(i.get_text().replace("\n", ""))
Prices2=Prices2[0:40]
for i in Discounts_Tags:
    Discounts2.append(i.get_text().replace("\n", ""))
Discounts2=Discounts2[0:40]


#PAGE 3 
page3=requests.get("https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3")

soup3=BeautifulSoup(page3.content, 'html.parser')

Brand_Name_Tags=soup3.find_all('div', class_='_2WkVRV')
Product_Tags=soup3.find_all('a', class_='IRpwTa')
Prices_Tags=soup3.find_all('div', class_='_30jeq3')
Discounts_Tags=soup3.find_all('div', class_='_3Ay6Sb')

for i in Brand_Name_Tags:
    if i is not None:
        Brand_Names3.append(i.get_text().replace("\n", ""))
    else:
        Brand_Names3.replace('Null')
Brand_Names3
for i in Product_Tags:
    Product_Descriptions.append(i.get_text().replace("\n", ""))
Product_Descriptions3
for i in Prices_Tags:
    Prices3.append(i.get_text().replace("\n", ""))
Prices3=Prices3[0:40]
for i in Discounts_Tags:
    Discounts3.append(i.get_text().replace("\n", ""))
Discounts3=Discounts3[0:40]

#Adding all values in one list
Brand_Names=Brand_Names1+Brand_Names2+Brand_Names3
Product_Descriptions=Product_Descriptions1+Product_Descriptions2+Product_Descriptions2
Prices=Prices1+Prices2+Prices3
Discounts=Discounts1+Discounts2+Discounts3

#Checking lengths of lists
print('Brand_Name :', len(Brand_Names)), print('Product_Description :', len(Product_Descriptions)),
print('Price :', len(Prices)), print('Discount :', len(Discounts))

#Creating dataFrame to save the scraped data of Flipkart_Review
import pandas as pd
Flipkart_Sneakers=pd.DataFrame({})
Flipkart_Sneakers['Brand Name']=Brand_Names
Flipkart_Sneakers['Product Description']=Product_Descriptions
Flipkart_Sneakers['Price']=Prices
Flipkart_Sneakers['Discount']=Discounts
Flipkart_Sneakers=Flipkart_Sneakers.head(100)
print("\n")

print('The DataFrame for First 100 Flipkart_Sneakers on https://www.flipkart.com/ is:')
Flipkart_Sneakers

Brand_Name : 120
Product_Description : 120
Price : 120
Discount : 120


The DataFrame for First 100 Flipkart_Sneakers on https://www.flipkart.com/ is:

,Brand Name,Product Description,Price,Discount
0,Rockfield,Sneakers For Men,₹399,60% off
1,Rockfield,Sneakers For Men,₹499,50% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹499,75% off
3,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹378,62% off
4,Stefano Rads,Classy Sneakers For Men,₹289,58% off
...,...,...,...,...
95,Oricum,JESS Sneakers For Men,₹299,60% off
96,GANPATI TRADERS,Worldcup-03 Running shoes for boys | sports sh...,₹199,67% off
97,Camfoot,Zar Check Sneakers Sneakers For Men,₹328,47% off
98,Aura,Sneakers For Men (White) Sneakers For Men,₹794,60% off
99,Bonexy,Sneakers For Men,₹399,75% off

# Q9: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image

In [135]:
#import all libraries

from bs4 import BeautifulSoup
import requests
import selenium
import pandas as pd
from selenium import webdriver
import time

#connect to the web driver
driver=webdriver.Chrome(r"C:\Users\Acer\Desktop\Internship 11 - Project 1 - Avinash Carneiro\chromedriver.exe")

#Specifying the url of the webpage
url="https://www.myntra.com/shoes?plaEnabled=false&rf=Price%3A5899.0_11599.0_5899.0%20TO%2011599.0"

#Lets open the webpage through our web driver
driver.get(url)

#Lets create 4 empty lists

Brand_Name=[]
Shoe_Description=[]
Price=[]


#Brand_Name of the sunglasses
for i in range(0, 3):
    for i in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
        Brand_Name.append(i.text)
        
#Product_Description of the sunglasses
    for j in driver.find_elements_by_xpath("//h4[@class='product-product']"):
        Shoe_Description.append(j.text)

#Price of of the sunglasses
    for k in driver.find_elements_by_xpath("//span[@class='product-discountedPrice']"):
        Price.append(k.text)
        
    driver.find_element_by_xpath("//li[@class='pagination-next']").click()
    time.sleep(3)        


#Selecting first 100 shoe details       
Brand_Name=Brand_Name[0:100]
Shoe_Description=Shoe_Description[0:100]
Price=Price[0:100]

#Creating dataFrame to save the scraped data of Flipkart_Review
import pandas as pd
Myntra_Shoes=pd.DataFrame({})
Myntra_Shoes['Brand Name']=Brand_Name
Myntra_Shoes['Shoe_Description']=Shoe_Description
Myntra_Shoes['Price']=Price


print("\n")

print('The DataFrame for First 100 Sunglasses on https://www.myntra.com/shoes is:')
Myntra_Shoes

The DataFrame for First 100 Sunglasses on https://www.myntra.com/shoes is:

        Brand Name                Shoe_Description     Price
0             ALDO             Men Leather Loafers  Rs. 6499
1             Nike     Men JORDAN Basketball Shoes  Rs. 9399
2             Nike        Men LEGEND REACT 3 Shoes  Rs. 6199
3             Nike  Women Air Zoom Pegasus Running  Rs. 7499
4             Nike     Women AIR MAX VG-R Sneakers  Rs. 6599
..             ...                             ...       ...
95            Nike   Women AIR MAX VERONA Sneakers  Rs. 8399
96  Tommy Hilfiger          Women Solid Flat Boots  Rs. 7499
97       Cole Haan     Women Woven Design Sneakers  Rs. 6599
98            ALDO            Women Solid Sneakers  Rs. 6499
99            Nike    Women Air Max Siren Sneakers  Rs. 7999

[100 rows x 3 columns]

# Q10: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [90]:
#import all libraries

from bs4 import BeautifulSoup
import requests
import selenium
import pandas as pd
from selenium import webdriver
import time

#connect to the web driver
driver=webdriver.Chrome(r"C:\Users\Acer\Desktop\Internship 11 - Project 1 - Avinash Carneiro\chromedriver.exe")

#Specifying the url of the webpage
url="https://www.amazon.in/s?k=Laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1611863643&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_17"

#Lets open the webpage through our web driver
driver.get(url)

#Lets create 4 empty lists

Title=[]
Rate=[]
Avg_Ratings=[]
Price=[]


#Title of the Laptops
for i in range(0, 1):
    for i in driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']"):
        Title.append(i.text)
        
#Price of of the Laptops
    for k in driver.find_elements_by_xpath("//span[@class='a-price-whole']"):
        Price.append(k.text)
        

#Now getting the request for webpage server:
page = requests.get("https://www.amazon.in/s?k=Laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1611863643&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_17")
soup=BeautifulSoup(page.content, 'html.parser')

#ratings of Laptops
ratingA=soup.find_all('span', class_='a-icon-alt')
for j in ratingA:
    Rate.append(j.text)
# Skipping first 4 ratings as they are unnecessary data which is added in the list
Rate=Rate[4:]

# Getting first 3 characters of ratings
for l in Rate:
    Avg_Ratings.append(l[0:3])


#Selecting first 10 Laptops     
Title=Title[0:10]
Avg_Ratings=Avg_Ratings[0:10]
Price=Price[0:10]


#Creating dataFrame to save the scraped data of Amazon Laptops
import pandas as pd
Amazon_laptops=pd.DataFrame({})
Amazon_laptops['Title']=Title
Amazon_laptops['Avg_Ratings']=Avg_Ratings
Amazon_laptops['Price']=Price

print("\n")

print('The DataFrame for First 10 Laptops on https://www.amazon.in/ is:')
Amazon_laptops

The DataFrame for First 10 Laptops on https://www.amazon.in/ is:

                                               Title Avg_Ratings   Price
0  Dell Inspiron 5501 15.6 Inch FHD Laptop (10th ...         3.8  85,890
1  Dell Inspiron 5409 14.0" FHD WVA AG Display 11...         3.6  86,990
2  (Renewed) Dell Latitude E7470 14-inch Laptop (...         3.3  55,299
3  Mi Notebook Horizon Edition 14 Intel Core i5-1...         4.0  54,899
4  (Renewed) Dell Latitude E7470 14-inch Laptop (...         4.2  53,599
5  MSI GF63 Thin Core i7 9th Gen - (8 GB/512 GB S...         4.2  70,990
6  (Renewed) Dell Latitude E7470 14-inch Laptop (...         4.3  52,699
7  (Renewed) Dell Latitude E7470 14-inch Laptop (...         3.7  54,399
8  Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...         4.3  96,450
9  MSI Gaming GL65 Leopard , Intel 9th Gen. i7-97...         5.0  63,990

In [89]:
Avg_Ratings

[]

In [77]:
Avg_RatingS1=[]
Ratings1=[]

In [ ]:
#Now getting the request for webpage server:
page = requests.get("https://www.amazon.in/s?k=Laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1611863643&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_17")
soup=BeautifulSoup(page.content, 'html.parser')

#ratings of Laptops
rating1=soup.find_all('span', class_='a-icon-alt')
for j in rating1:
    Ratings1.append(j.text)
    
# Skipping first 4 ratings as they are unnecessary data which is added in the list
Ratings1=Ratings1[4:]

# Getting first 3 characters of ratings
for p in Ratings1:
    Avg_RatingS1.append(p[0:3])

In [83]:
Rate=[]

In [84]:
#Now getting the request for webpage server:
page = requests.get("https://www.amazon.in/s?k=Laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1611863643&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_17")
soup=BeautifulSoup(page.content, 'html.parser')

#ratings of Laptops
ratingA=soup.find_all('span', class_='a-icon-alt')
for j in ratingA:
    Rate.append(j.text)

In [85]:
Rate

[]

In [ ]:
for i in Brand_Name_Tags:
    if i is not None:
        Ratings.append(i.get_text().replace("\n", ""))
    else:
        Ratings.replace('Null')
Ratings

In [17]:
len(Ratings)

20

In [ ]:
if j is not None:
            Product_Description.append(j.text)
        else:
            Product_Description('_')

In [30]:
#Product_Description of the Sneakers
for i in range(0, 2):
    for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        if j is not None:
            Product_Description.append(j.text)
        else:
            Product_Description('_')

In [31]:
len(Product_Description)

267